<!DOCTYPE html>
<html>
    <head>
        <title>Календарь</title>
        <link rel="stylesheet" href="css/calendar_style.css">
        <link rel="stylesheet" href="css/login_style.css">
        <link rel="import" href="html/calendar.html">
        <link rel="import" href="html/login.html">
    </head>
    <body>
        <script type="text/javascript" src="js/calendar.js">
		</script>
    </body>
</html>